layout {
    tab name="WSL / CONTROL" focus=true {
        pane name="bash" command="/usr/local/bin/lab-shell" {
            args "control"
            cwd "/home/operator"
        }
    }
    tab name="ICINGA" {
        pane name="api" command="/usr/local/bin/lab-shell" {
            args "icinga"
            cwd "/home/operator"
        }
    }
    tab name="NAGIOS" {
        pane name="core" command="/usr/local/bin/lab-shell" {
            args "nagios"
            cwd "/home/operator"
        }
    }
}
